@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    font-size: 62.5%;
    --bg-primary-color: #0B0B0B;
    --text-primary-color: #fff;
    --text-large : 12rem;
    --text-headline : 8.8rem;
    --text-medium : 7.2rem;
    --text-title: 5.2rem;
    --text-fineprint: 2.4rem;
    --text-small : 1.6rem;
    --line-height-main-heading : 8.8rem;
    --main-height : 98rem;

}
html {
    scroll-behavior: smooth;
}


body{
    font-family: 'Poppins', sans-serif;    
    line-height: 1.7;
}


/* width */
*::-webkit-scrollbar {
    width: 12px;
}
  
  /* Track */
  *::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    background: #222;
    /* border-radius: 10px; */
  }
   
  /* Handle */
  *::-webkit-scrollbar-thumb {
    background: #4e4e4e; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  *::-webkit-scrollbar-thumb:hover {
    background: #7a7a7a; 
  }

/* ------utilities------- */
a{
    text-decoration: none;
    list-style-type: none;
    font-weight: 500;
}

h1,h2,h3,h4,h5,h6,p{
    color: var(--text-primary-color);
}
.container {
    max-width: 1400px;
    width: 90%;
    margin: auto;
}


#signature{
    stroke-dasharray: 853;
    stroke-dashoffset: 853;
    animation: coming-soon 2s ease;
    animation-iteration-count: infinite;
}


@keyframes coming-soon{
    to{
        stroke-dashoffset : 0;

    }
}


/* ------------------------------------- Main ------------------------- */
#background-main-body--{
    background: var(--bg-primary-color);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    /* height: auto; */
    /* border: 2px solid red; */
    min-height: var(--main-height);
}

main.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid red;
    /* min-height: 10rem; */
    min-height: var(--main-height);
}
/* ----------------------------------- Header ------------------------------- */
header{
    /* border: 2px solid blue; */
    border-radius: 5rem;
    padding: 0.5rem 2rem;
    margin-top: 1.6rem;

    background: linear-gradient(23.96deg, #76C38F 0%, #60CF8C 48.44%, #A7C12C 100%);
    box-shadow: 0px 0px 61px 0px rgba(204,204,204,0.71);
    -webkit-box-shadow: 0px 0px 61px 0px rgba(204,204,204,0.71);
    -moz-box-shadow: 0px 0px 61px 0px rgba(204,204,204,0.71);
}
header h1{
    --text-small : 1.4rem;
    font-size: var(--text-small);
}





#signature{
    stroke-dasharray: 1058;
    stroke-dashoffset: 1058;
    animation: coming-soon 2s ease;
    animation-iteration-count: infinite;
}


@keyframes coming-soon{
    to{
        stroke-dashoffset : 0;
    }
}

/* -------------------------------- Content --------------------------------- */
.main--content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* row-gap: 2rem; */
    /* border: 2px solid brown; */
    transform: translateY(-10%); /* remove */
}
.coming-soon-text{
    /* border: 2px solid white; */
    height: 30rem;
    width: 100%;
}

.nav-buttons{
    transform: translateY(-10%); /* remove*/
    /* border: 2px solid rgb(1, 249, 47); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    /* margin-top: 3rem; */
    margin-bottom: 5rem;
    /* width: 100%; */
}
.button-nav{
    border: 1px solid var(--text-primary-color);
    border-radius: 5rem;
    font-size: var(--text-small);
    padding: 0.5em 2.5em;
    color: var(--text-primary-color);
}

.main-heading{
    font-size: var(--text-headline);
    line-height: var(--line-height-main-heading);
    text-align: center;
}
.students-typography-text{
    color: #60cafc;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(45deg,#ccefff,#60cafc 50%,#2f65ff);
}


.institutes-typography-text{
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(180deg,#ffe993,#eb831c);
    will-change: transform;
    overflow: hidden;
    background-color: #ffe993 0%;
}

.main-description{
    font-size: var(--text-fineprint);
    margin-top: 5rem;
}
.main-description p{
    text-align: center;
    line-height: 3rem;
    font-size: var(--text-fineprint);
}

/* -------------------------------- Footer -------------------------------- */
footer{
    border-radius: 5rem;
    padding: 1rem 3rem;
    margin-bottom: 2rem;

    background-color: rgba(70, 70, 70, 0.43);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    cursor: pointer;
}
footer:hover{
    background-color: hsla(0, 0%, 100%, 0.2);
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}
footer h1{
    color: #d2dae4;
    font-size: var(--text-small);
}






/* .springstudies-watermark{
    border: 2px solid red;
} */

.springstudies-watermark-h1{
    color: #192a3129;
    font-size: var(--text-headline);
    position: absolute;
    bottom: 0;
    right: 0;
    /* transform: translateY(25%); */
    cursor: default;


}


.star-img--random-ab1{
    width: 2rem;
    position: absolute;
    top: 20%;
    /* top: 1rem; */
    left: 15%;
}
.star-img--random-ab2{
    width: 4rem;
    position: absolute;
    top: 70%;
    left: 25%;
}
.star-img--random-ab3{
    width: 3rem;
    position: absolute;
    top: 60%;
    right: 25%;
}
.star-img--random-ab4{
    width: 5rem;
    position: absolute;
    top: 30%;
    left: 30%;
}
.star-img--random-ab5{
    width: 5rem;
    position: absolute;
    top: 40%;
    right: 20%;
}




@media only screen and (min-width: 1440px) and (min-height: 900px){
    html{
        overflow: hidden;
    }
}

@media only screen and (max-width: 784px){
    :root{
        /* --bg-primary-color : #5e0404; */

        --text-large : 8.8rem;
        --text-headline : 7.2rem;
        --text-medium : 5.2rem;
        --text-title: 2.4rem;
        --text-fineprint: 1.6rem;
        --text-small : 1.2rem;
        --line-height-main-heading : 7.2rem;
    }
    .springstudies-watermark-h1{
        display: none;
    }
}

@media only screen and (max-width: 600px){
    :root{
        /* --bg-primary-color : #5e0404; */
        --text-large : 7.2rem;
        --text-headline : 5.2rem;
        --text-medium : 2.4rem;
        --text-title: 1.6rem;
        --text-fineprint: 1.4rem;
        --text-small : 1.2rem;
        --line-height-main-heading : 5.2rem;
    }
}